{
  "presets": [ [ "env" ] ],
  "plugins": [
    [
      "transform-react-jsx"
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        [
          "transform-react-jsx"
        ]
      ]
    }
  },
  "comments": true
}
